################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoBHHC
/GoBHHC/bin/Debug/netcoreapp3.0
/GoBHHC/obj
/GoBHHC.Repository/bin/Debug/netcoreapp3.0
/GoBHHC.Repository/obj/Debug/netcoreapp3.0
/GoBHHC.Repository/obj
/GoBHHC.Shared/bin/Debug/netstandard2.0
/GoBHHC.Shared/obj
/GoBHHC.Tests/bin/Debug/netcoreapp3.0
/GoBHHC.Tests/obj
/GoBHHC.WebAPI/obj
/GoBHHC.WebAPI/bin/Debug/netcoreapp3.0
/GoBHHC.Repository/data/database.db
